body{
	margin: 0;
	font-size: 55px;
	color: rgb(240, 237, 235);
	padding-top: 50px;
	background-color: chocolate;
	font-family: 'Cinzel', serif;	
	background-image: url(../images/library_1.jpg);
	background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
	padding-left: 40px;
    height: 100vh;
    width: 100%;
    position: relative;
    display: grid;
    grid-template-columns: repeat(1, 2fr);
    align-items: center;
}

*{
	box-sizing: border-box;
	margin:0;
	padding:0;
	outline: none;
}

.custom-box{
	max-width: 600px;
	background-color: rgb(246, 243, 243);
	margin:10px auto;
	padding: 20px;
	border-radius: 20px;
	animation: fadeInRight 1s ease;
}

.copyright{
	font-size: 25px;
	color: white;
	font-weight: 500;
	text-align: center;
    background: transparent;
    padding: 0px;
    display: block;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

@keyframes fadeInRight{
	0%{
		transform: translateX(40px);
		opacity:0;
	}
	100%{
	  transform: translateX(0px);	
	  opacity:1;
	}
}
.custom-box::before,
.custom-box::after{
	content: '';
	clear: both;
	display: table;
}
.custom-box.hide{
	display: none;
}

.home-box h2{
	font-size: 25px;
	text-align: center;
	color: black;
	font-weight: 500;
	margin-bottom: 25px;
	line-height: 25px;
}

.home-box p{
	text-align: center;
	font-size: 25px;
	margin-bottom: 10px;
	line-height: 22px;
	color: black;
	font-weight: 400;
	width: 300px;
}
.home-box p span{
	font-weight: 500;
}
.home-box .btn{
  margin-top: 20px;
}
.btn{
	padding: 10px;
	background-color: rgb(186, 125, 10);
	color: rgb(8, 8, 8);
	border:none;
	border-radius: 15px;
	font-family: 'Cinzel', serif;	font-weight: 400;
	font-size: 20px;
	cursor: pointer;
	display: inline-block;
}
.btn:hover{
	color: rgb(249, 243, 243);
}

.icon a{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background: transparent;
    width: 75px;
    height: 75px;
	font-weight: 400;
    margin: 0px 5px;
    color: white;
    font-size: 2.2rem;
    transition: all .40s;
}
.icon a:hover{
    transform: translateY(-20px);
}


.quiz-box .question-number{
	padding-left: 25%;
}
.quiz-box .question-text,
.quiz-box .option-container{
	width: 500px;
}
.quiz-box .answers-indicator{
   width: 100%;
   float: center;
}
.quiz-box .next-question-btn{
	padding-left: 32%;
}

.quiz-box .question-number{
	font-size: 30px;
	color: chocolate;
	font-weight: 600;
	border-bottom:1px solid white;
	padding-bottom: 10px;
	line-height: 20px
}
.quiz-box .question-text{
	text-align: center;
	font-size: 22px;
	color: black;
	line-height: 28px;
	font-weight: 400;
	padding: 20px 0;
	margin:0;
}

.quiz-box .option-container .option{
	text-align: center;
	margin-left: 25%;
	background-color: white;
	max-width: 50%;
	padding:8px 12px;
	font-size: 16px;
	line-height: 22px;
	color:black;
	border-radius: 50px;
	margin-bottom: 10px;
	cursor: pointer;
	text-transform: capitalize;
	opacity:0;
	animation: fadeIn 0.3s ease forwards;
	position: relative;
	overflow: hidden;
	
}
.quiz-box .option-container .option:hover{
	color: rgb(223, 86, 12);
	font-size: 30px;
}
.quiz-box .option-container .option.already-answered{
	pointer-events: none;
}
@keyframes fadeIn{
	0%{
		opacity:0;
	}
	100%{
		opacity: 1;
	}
}
.quiz-box .option-container .option.correct::before{
 content: '';
 position: absolute;
 left:0;
 top:0;
 height: 100%;
 width: 100%;
 z-index: -1;
 animation: slideInLeft .5s ease forwards
}
@keyframes slideInLeft{
	0%{
		transform: translateX(-100%);
	}
	100%{
	 transform: translateX(0%);	
	}
}
.quiz-box .option-container .option.wrong::before{
 content: '';
 position: absolute;
 left:0;
 top:0;
 height: 100%;
 width: 100%;
 z-index: -1;
 animation: slideInLeft .5s ease forwards
}
.quiz-box .option-container .option.wrong{
	color: black;
	text-decoration-line: line-through;
}
.quiz-box .option-container .option.correct{
	background-color: rgb(14, 96, 8);
	font-size: 18px;
}
.quiz-box .btn{
	margin:15px 0;
}
.quiz-box .answers-indicator{
	border-top: 2px solid white;
}

.result-box{
	text-align: center;
}
.result-box.hide{
	display: none;
}

.result-box h1{
	font-size: 35px;
	line-height: 40px;
	color: chocolate;
}
.result-box table{
	width: 100%;
	border-collapse: collapse;
	margin:10px 0;
}
.result-box table td{
	border:1px solid white;
	padding:10px 15px;
	font-weight: 500;
	color: black;
	width: 50%;
	text-align: left;
	font-size: 20px;
}
.result-box .btn{
	margin-right: 20px;
}

@media(max-width: 760px){
	.result-box .btn{
		margin-bottom: 15px;
	}
	* {
		width: 90%;
	}
	body{
		padding: 25px;
		padding-bottom: 180px;
		height: 150%;
	}
	.icon{
		text-align: center;
		margin-left: 8px;
	}
	h1{
		font-size: 60px;
		text-align: center;
	}
	.copyright{
		padding-left: 50px;
	}
}
